This document specifies the format of the table in document
[TestRequirements.md] in the same directory. It is only relevant
for anyone updating the table.

The table in [TestRequirements.md] is also a database that
should be parsable by script, and must therefore be kept in the
specified format.

The table, in the source code, must remain in Markdown format.
In the raw Markdown code, the table must be preceded by an HTML
comment line (with nothing in between) containing "START-TABLE".
And directly after the table there must be an HTML comment
containing "END-TABLE".

The table must have four fields. There must be no "|" at the start
or end of the lines in the table.

Field one is the requirement ID which must have the form
"Rxxxxx" where x is a digit 0-9. The ID should sorted and must be
unique.

Field two must be the requirement specification.

Field three must be the requirement reference one or more
Markdown links, i.e. something like "[xxxx]". The field may
be empty.

Field four must be one or more Markdown links to test cases.
The field may be empty.

The first line must be the table header and the second line
the delimiter between header and table body. Both lines will be
ignored by the parser.

