# ns1.consistency06.xa
. {
    bind 127.14.6.21
    bind fda1:b2:c3:0:127:14:6:21
    log
    file Consistency-TP/consistency06/consistency06.xa.zone consistency06.xa
}

# ns2.consistency06.xa
. {
    bind 127.14.6.22
    bind fda1:b2:c3:0:127:14:6:22
    log
    file Consistency-TP/consistency06/consistency06.xa.zone consistency06.xa
}

### ==== Scenarios Consistency06 ====

## ONE-SOA-MNAME-1.consistency06.xa
# ns1 and ns2
one-soa-mname-1.consistency06.xa:53 {
    bind 127.14.6.31
    bind fda1:b2:c3:0:127:14:6:31
    bind 127.14.6.32
    bind fda1:b2:c3:0:127:14:6:32
    log
    file Consistency-TP/consistency06/COMMON.consistency06.xa.zone one-soa-mname-1.consistency06.xa
}


## ONE-SOA-MNAME-2.consistency06.xa
# ns1
one-soa-mname-2.consistency06.xa:53 {
    bind 127.14.6.31
    bind fda1:b2:c3:0:127:14:6:31
    log
    acl one-soa-mname-2.consistency06.xa {
        drop
    }
}

# ns2
one-soa-mname-2.consistency06.xa:53 {
    bind 127.14.6.32
    bind fda1:b2:c3:0:127:14:6:32
    log
    file Consistency-TP/consistency06/COMMON.consistency06.xa.zone one-soa-mname-2.consistency06.xa
}


## ONE-SOA-MNAME-3.consistency06.xa
# ns2
one-soa-mname-3.consistency06.xa:53 {
    bind 127.14.6.32
    bind fda1:b2:c3:0:127:14:6:32
    log
    file Consistency-TP/consistency06/COMMON.consistency06.xa.zone one-soa-mname-3.consistency06.xa
}


## ONE-SOA-MNAME-4.consistency06.xa
# ns1
one-soa-mname-4.consistency06.xa:53 {
    bind 127.14.6.31
    bind fda1:b2:c3:0:127:14:6:31
    log
    file Consistency-TP/consistency06/ns1.one-soa-mname-4.consistency06.xa.zone one-soa-mname-4.consistency06.xa
}
# ns1
one-soa-mname-4.consistency06.xa:53 {
    bind 127.14.6.32
    bind fda1:b2:c3:0:127:14:6:32
    log
    acl one-soa-mname-4.consistency06.xa {
        drop
    }
}

## MULTIPLE-SOA-MNAMES-1.consistency06.xa
# ns1
multiple-soa-mnames-1.consistency06.xa:53 {
    bind 127.14.6.31
    bind fda1:b2:c3:0:127:14:6:31
    log
    file Consistency-TP/consistency06/COMMON.consistency06.xa.zone multiple-soa-mnames-1.consistency06.xa
    template IN SOA multiple-soa-mnames-1.consistency06.xa {
	answer "multiple-soa-mnames-1.consistency06.xa. 3600 SOA ns1.multiple-soa-mnames-1.consistency06.xa. admin.mail.xa. 2023092000 21600 3600 604800 86400"
	authority "multiple-soa-mnames-1.consistency06.xa. 3600 NS ns1.multiple-soa-mnames-2.consistency06.xa."
	authority "multiple-soa-mnames-1.consistency06.xa. 3600 NS ns2.multiple-soa-mnames-2.consistency06.xa."
    }
}

# ns2
multiple-soa-mnames-1.consistency06.xa:53 {
    bind 127.14.6.32
    bind fda1:b2:c3:0:127:14:6:32
    log
    file Consistency-TP/consistency06/COMMON.consistency06.xa.zone multiple-soa-mnames-1.consistency06.xa
    template IN SOA multiple-soa-mnames-1.consistency06.xa {
        answer "multiple-soa-mnames-1.consistency06.xa. 3600 SOA ns2.multiple-soa-mnames-1.consistency06.xa. admin.mail.xa. 2023092000 21600 3600 604800 86400"
        authority "multiple-soa-mnames-1.consistency06.xa. 3600 NS ns1.multiple-soa-mnames-1.consistency06.xa."
        authority "multiple-soa-mnames-1.consistency06.xa. 3600 NS ns2.multiple-soa-mnames-1.consistency06.xa."
    }
}


## MULTIPLE-SOA-MNAMES-2.consistency06.xa
# ns1
multiple-soa-mnames-2.consistency06.xa:53 {
    bind 127.14.6.31
    bind fda1:b2:c3:0:127:14:6:31
    log
    file Consistency-TP/consistency06/ns1.multiple-soa-mnames-2.consistency06.xa.zone multiple-soa-mnames-2.consistency06.xa
}

# ns2
multiple-soa-mnames-2.consistency06.xa:53 {
    bind 127.14.6.32
    bind fda1:b2:c3:0:127:14:6:32
    log
    file Consistency-TP/consistency06/ns2.multiple-soa-mnames-2.consistency06.xa.zone multiple-soa-mnames-2.consistency06.xa
}

# ns3
multiple-soa-mnames-2.consistency06.xa:53 {
    bind 127.14.6.33
    bind fda1:b2:c3:0:127:14:6:33
    log
    acl multiple-soa-mnames-2.consistency06.xa {
        drop
    }
}

## NO-RESPONSE.consistency06.xa
# ns1 and ns2
no-response.consistency06.xa:53 {
    bind 127.14.6.31
    bind fda1:b2:c3:0:127:14:6:31
    bind 127.14.6.32
    bind fda1:b2:c3:0:127:14:6:32
    log
    acl no-response.consistency06.xa {
        drop
    }

}
