<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" href="<% request.uri_base %>/css/nojs_style.css" />
		<% IF test_running %>
			<meta http-equiv="refresh" content="5;url=/nojs?test_id=<% test_id %>">
		<% END %>
	</head>
	<body>
		<h1>Domain check</h1>
		<form method="post">
			<label for="domain_name">
				Domain Name
				<input id="domain_name" name="domain_name" type="text" value="<% domain %>">
			</label>
			<button type="submit" name="button" value="Run tests" />
			Start the tests
			</button>
			<br>
			
			<% IF test_running %>
			<br>
			<table>
				<tr>
					<td style="border: 0px;padding:none"><% test_progress %>%</td>
					<td width=400 style="border: 2px solid silver;padding:none"><hr style="color:#c00;background-color:#c00;height:20px; border:none;margin:0;" align="left" width=<% test_progress %>% /></td>   
				</tr>
			</table>
			<% END %>

			<br>
			<button type="submit" name="button" value="Add NS" />
			+
			</button>
			Nameservers
			<hr>
			<% FOREACH ns IN nameservers %>
				<button type="submit" name="button" value="Delete NS <% ns.ns_id %>" />
				-
				</button>
				<label for="ns<% ns.ns_id %>">
					NS
					<input id="ns<% ns.ns_id %>" name="ns<% ns.ns_id %>" type="text" value="<% ns.ns %>">
				</label>
				<label for="ip<% ns.ns_id %>">
					IP
					<input id="ip<% ns.ns_id %>" name="ip<% ns.ns_id %>" type="text" value="<% ns.ip %>">
				</label>
				<button type="submit" name="button" value="NS IP <% ns.ns_id %>" />
				&#x2713;
				</button>
				<br>
			<% END %>
			<br>
			<br>
			<button type="submit" name="button" value="Add DS" />
			+
			</button>
			Digests
			<hr>
			<% FOREACH ds IN ds_digest_pairs %>
				<button type="submit" name="button" value="Delete DS <% ds.ds_id %>" />
				-
				</button>
				<label for="algorithm<% ds.ds_id %>">
					Algorithm
					<input id="algorithm<% ds.ds_id %>" name="algorithm<% ds.ds_id %>" type="text" value="<% ds.algorithm %>">
				</label>
				<label for="digest<% ds.ds_id %>">
					Digest
					<input id="digest<% ds.ds_id %>" name="digest<% ds.ds_id %>" type="text" value="<% ds.digest %>">
				</label>
				<br>
			<% END %>

			<button type="submit" name="button" value="Fetch" />
			Fetch data from parent zone
			</button>
			
			<br>
			<br>
			<br>
			<br>
			Transports
			<hr>
			<% DEFAULT ipv4 = 'checked' ipv6 = 'checked' %>
			<label for="ipv4">
				IPv4
				<input type="checkbox" name="ipv4" id="ipv4" value="1" <% ipv4 %> >
			</label>
			<br>
			<label for="ipv6">
				IPv6
				<input type="checkbox" name="ipv6" id="ipv6" value="1" <% ipv6 %> >
			</label>
			<br>
			<br>
			<br>
			<label for="profile">
				Test profile
				<select id="profile" name="profile">
					<option <% default_profile_selected %> value="default_profile">Default</option>
					<option <% profile_1_selected %> value="test_profile_1">Test Profile 1</option>
					<option <% profile_2_selected %> value="test_profile_2">Test Profile 2</option>
				</select>
			</label>
			<br>
			<% IF debug_mode %>
			<br>
			<br>
			<input type="submit" name="button" value="Send to Backend" />
			<input type="submit" name="button" value="Load from Backend" />
			<% END %>
		</form>

		<% IF debug_mode %>
		<hr>
		
		<p>
		<% text %>
		</p>
		
		<hr>

		<p>
		<% text1 %>
		</p>
		<% END %>

		<hr>
		<p>
			<% FOREACH test_res IN test_results %>
				<% IF test_res.is_module %>
					<br>
					<br>
					<span class="<% test_res.type %>"><% test_res.message %><br></span>
				<% ELSE %>
					<span class="tab">
						<span class="<% test_res.type %>"><% test_res.message %><br></span>
					</span>
				<% END %>
			<% END %>
		</p>
	</body>
</html>