# General root for Zone09 scenarios. Includes
# * Delegations from xa
# * Delegations from arpa
# * Delegations to scenario specific TLDs
# * No MX
. {
    bind 127.19.9.61                # ns1
    bind fda1:b2:c3:0:127:19:9:61   # ns1
    bind 127.19.9.62                # ns2
    bind fda1:b2:c3:0:127:19:9:62   # ns2
    log
    file Zone-TP/zone09/root.zone .
}  

# Resolver using test case local root
. {
    bind 127.19.9.53
    unbound {
       option root-hints Zone-TP/zone09/hintfile.zone
    }
    log
}

# zone09.xa
. {
    bind 127.19.9.21                # ns1
    bind fda1:b2:c3:0:127:19:9:21   # ns1
    bind 127.19.9.22                # ns2
    bind fda1:b2:c3:0:127:19:9:22   # ns2
    log
    file Zone-TP/zone09/zone09.xa.zone zone09.xa
}


# NO-RESPONSE-MX-QUERY-1.zone09.xa
no-response-mx-query-1.zone09.xa { # ns1
    bind 127.19.9.31
    bind fda1:b2:c3:0:127:19:9:31
    log
    file Zone-TP/zone09/COMMON.zone09.xa.zone no-response-mx-query-1.zone09.xa
    template IN MX no-response-mx-query-1.zone09.xa {
        answer "no-response-mx-query-1.zone09.xa. 600 MX 10 mail.no-response-mx-query-1.zone09.xa."
    }
}
no-response-mx-query-1.zone09.xa { # ns2
    bind 127.19.9.32
    bind fda1:b2:c3:0:127:19:9:32
    log
    file Zone-TP/zone09/COMMON.zone09.xa.zone no-response-mx-query-1.zone09.xa
    acl no-response-mx-query-1.zone09.xa {
        drop type MX
    }
}


# NO-RESPONSE-MX-QUERY-2.zone09.xa
no-response-mx-query-2.zone09.xa {
    bind 127.19.9.31
    bind fda1:b2:c3:0:127:19:9:31
    bind 127.19.9.32
    bind fda1:b2:c3:0:127:19:9:32
    log
    file Zone-TP/zone09/COMMON.zone09.xa.zone no-response-mx-query-2.zone09.xa
    acl no-response-mx-query-2.zone09.xa {
        drop type MX
    }
}


# UNEXPECTED-RCODE-MX.zone09.xa
unexpected-rcode-mx.zone09.xa { # ns1
    bind 127.19.9.31
    bind fda1:b2:c3:0:127:19:9:31
    log
    template IN MX UNEXPECTED-RCODE-MX.zone09.xa {
        rcode NOTIMP
        fallthrough
    }
    file Zone-TP/zone09/COMMON.zone09.xa.zone unexpected-rcode-mx.zone09.xa
}
unexpected-rcode-mx.zone09.xa { # ns2
    bind 127.19.9.32
    bind fda1:b2:c3:0:127:19:9:32
    log
    file Zone-TP/zone09/COMMON.zone09.xa.zone unexpected-rcode-mx.zone09.xa
}


# NON-AUTH-MX-RESPONSE.zone09.xa
non-auth-mx-response.zone09.xa { # ns1
    bind 127.19.9.31
    bind fda1:b2:c3:0:127:19:9:31
    log
    file Zone-TP/zone09/COMMON.zone09.xa.zone non-auth-mx-response.zone09.xa
    template IN MX non-auth-mx-response.zone09.xa {
        answer "non-auth-mx-response.zone09.xa. 600 MX 10 mail.non-auth-mx-response.zone09.xa."
    }
non-auth-mx-response.zone09.xa { # ns2
    bind 127.19.9.32
    bind fda1:b2:c3:0:127:19:9:32
    log
    template IN SOA non-auth-mx-response.zone09.xa {
        match "non-auth-mx-response\.zone09\.xa"
        answer "non-auth-mx-response.zone09.xa.	3600 IN	SOA	ns1.non-auth-mx-response.zone09.xa. admin.non-auth-mx-response.zone09.xa. 2022112300 21600 3600 604800 86400"
    }
    file Zone-TP/zone09/COMMON.zone09.xa.zone non-auth-mx-response.zone09.xa
    template IN MX non-auth-mx-response.zone09.xa {
        answer "non-auth-mx-response.zone09.xa. 600 MX 10 mail.non-auth-mx-response.zone09.xa."
    }
}
non-auth-mx-response.zone09.xa { # ns4, ns that answers without authoritative answer
    bind 127.19.9.34
    bind fda1:b2:c3:0:127:19:9:34
    log
    file Zone-TP/zone09/COMMON.zone09.xa.zone non-auth-mx-response.zone09.xa
    template IN MX non-auth-mx-response.zone09.xa {
        answer "non-auth-mx-response.zone09.xa. 600 MX 10 mail.non-auth-mx-response.zone09.xa."
        fallthrough
    }
    header {
        response clear aa
    }
}


# INCONSISTENT-MX.zone09.xa
inconsistent-mx.zone09.xa { # ns1
    bind 127.19.9.31
    bind fda1:b2:c3:0:127:19:9:31
    log
    file Zone-TP/zone09/COMMON.zone09.xa.zone inconsistent-mx.zone09.xa
    template IN MX inconsistent-mx.zone09.xa {
        answer "inconsistent-mx.zone09.xa. 600 MX 10 mail.inconsistent-mx.zone09.xa."
    }
}
inconsistent-mx.zone09.xa { # ns2
    bind 127.19.9.32
    bind fda1:b2:c3:0:127:19:9:32
    log
    file Zone-TP/zone09/COMMON.zone09.xa.zone inconsistent-mx.zone09.xa
}


# INCONSISTENT-MX-DATA.zone09.xa
inconsistent-mx-data.zone09.xa { # ns1
    bind 127.19.9.31
    bind fda1:b2:c3:0:127:19:9:31
    log
    file Zone-TP/zone09/COMMON.zone09.xa.zone inconsistent-mx-data.zone09.xa
    template IN MX inconsistent-mx-data.zone09.xa {
        answer "inconsistent-mx-data.zone09.xa. 600 MX 10 mail.inconsistent-mx-data.zone09.xa."
        answer "inconsistent-mx-data.zone09.xa. 600 MX 10 mail2.inconsistent-mx-data.zone09.xa."
    }
}
inconsistent-mx-data.zone09.xa { # ns2
    bind 127.19.9.32
    bind fda1:b2:c3:0:127:19:9:32
    log
    file Zone-TP/zone09/COMMON.zone09.xa.zone inconsistent-mx-data.zone09.xa
    template IN MX inconsistent-mx-data.zone09.xa {
        answer "inconsistent-mx-data.zone09.xa. 600 MX 10 mail2.inconsistent-mx-data.zone09.xa."
    }
}


# NULL-MX-WITH-OTHER-MX.zone09.xa
null-mx-with-other-mx.zone09.xa { 
    bind 127.19.9.31              # ns1
    bind fda1:b2:c3:0:127:19:9:31 # ns1
    bind 127.19.9.32              # ns2
    bind fda1:b2:c3:0:127:19:9:32 # ns2
    log
    file Zone-TP/zone09/COMMON.zone09.xa.zone null-mx-with-other-mx.zone09.xa
    template IN MX null-mx-with-other-mx.zone09.xa {
        answer "null-mx-with-other-mx.zone09.xa. 600 MX 10 mail.null-mx-with-other-mx.zone09.xa"
        answer "null-mx-with-other-mx.zone09.xa. 600 MX 0 ."
    }
    template IN A null-mx-with-other-mx.zone09.xa {
	answer "null-mx-with-other-mx.zone09.xa. 600 A 127.3.0.25"
    }
}


# NULL-MX-NON-ZERO-PREF.zone09.xa
null-mx-non-zero-pref.zone09.xa {
    bind 127.19.9.31              # ns1
    bind fda1:b2:c3:0:127:19:9:31 # ns1
    bind 127.19.9.32              # ns2
    bind fda1:b2:c3:0:127:19:9:32 # ns2
    log
    file Zone-TP/zone09/COMMON.zone09.xa.zone null-mx-non-zero-pref.zone09.xa
    template IN MX null-mx-non-zero-pref.zone09.xa {
        answer "null-mx-non-zero-pref.zone09.xa. 600 MX 99 ."
    }
}

# TLD-EMAIL-DOMAIN
tld-email-domain-zone09 {
    bind 127.19.9.41                # ns1
    bind fda1:b2:c3:0:127:19:9:41   # ns1
    bind 127.19.9.42                # ns2
    bind fda1:b2:c3:0:127:19:9:42   # ns2
    log
    file Zone-TP/zone09/COMMON.TLD.zone tld-email-domain-zone09
    template IN MX tld-email-domain-zone09 {
        answer "tld-email-domain-zone09. 600 MX 10 mail.tld-email-domain-zone09."
    }
}


# ROOT-EMAIL-DOMAIN (use hintfile-ROOT-EMAIL-DOMAIN.zone)
. {
    bind 127.19.9.63                # ns1
    bind fda1:b2:c3:0:127:19:9:63   # ns1
    bind 127.19.9.64                # ns2
    bind fda1:b2:c3:0:127:19:9:64   # ns2
    log
    file Zone-TP/zone09/ROOT-EMAIL-DOMAIN.zone .
}


# ARPA-EMAIL-DOMAIN
arpa-email-domain.zone09.arpa {
    bind 127.19.9.31              # ns1
    bind fda1:b2:c3:0:127:19:9:31 # ns1
    bind 127.19.9.32              # ns2
    bind fda1:b2:c3:0:127:19:9:32 # ns2
    log
    file Zone-TP/zone09/COMMON.zone09.xa.zone arpa-email-domain.zone09.arpa
    template IN MX arpa-email-domain.zone09.arpa {
        answer "arpa-email-domain.zone09.arpa. 600 MX 10 mail.arpa-email-domain.zone09.arpa."
    }
}


# MX-DATA.zone09.xa
mx-data.zone09.xa {
    bind 127.19.9.31              # ns1
    bind fda1:b2:c3:0:127:19:9:31 # ns1
    bind 127.19.9.32              # ns2
    bind fda1:b2:c3:0:127:19:9:32 # ns2
    log
    file Zone-TP/zone09/COMMON.zone09.xa.zone mx-data.zone09.xa
    template IN MX mx-data.zone09.xa {
        answer "mx-data.zone09.xa. 600 MX 10 mail.mx-data.zone09.xa."
    }
}


# NULL-MX-TLD
null-mx-tld-zone09 {
    bind 127.19.9.41                # ns1
    bind fda1:b2:c3:0:127:19:9:41   # ns1
    bind 127.19.9.42                # ns2
    bind fda1:b2:c3:0:127:19:9:42   # ns2
    log
    file Zone-TP/zone09/COMMON.TLD.zone null-mx-tld-zone09
    template IN MX null-mx-tld-zone09 {
        answer "null-mx-tld-zone09. 600 MX 0 ."
    }
}


# NULL-MX-ROOT (use hintfile-NULL-MX-ROOT.zone)
. {
    bind 127.19.9.65                # ns1
    bind fda1:b2:c3:0:127:19:9:65   # ns1
    bind 127.19.9.66                # ns2
    bind fda1:b2:c3:0:127:19:9:66   # ns2
    log
    file Zone-TP/zone09/NULL-MX-ROOT.zone .
}


# NULL-MX-ARPA
null-mx-arpa.zone09.arpa {
    bind 127.19.9.31              # ns1
    bind fda1:b2:c3:0:127:19:9:31 # ns1
    bind 127.19.9.32              # ns2
    bind fda1:b2:c3:0:127:19:9:32 # ns2
    log
    file Zone-TP/zone09/COMMON.zone09.xa.zone null-mx-arpa.zone09.arpa
    template IN MX null-mx-arpa.zone09.arpa {
        answer "null-mx-arpa.zone09.arpa. 600 MX 0 ."
    }
}


# NULL-MX-SLD.zone09.xa
null-mx-sld.zone09.xa {
    bind 127.19.9.31              # ns1
    bind fda1:b2:c3:0:127:19:9:31 # ns1
    bind 127.19.9.32              # ns2
    bind fda1:b2:c3:0:127:19:9:32 # ns2
    log
    file Zone-TP/zone09/COMMON.zone09.xa.zone null-mx-sld.zone09.xa
    template IN MX null-mx-sld.zone09.xa {
        answer "null-mx-sld.zone09.xa. 600 MX 0 ."
    }
}


# NO-MX-SLD.zone09.xa
no-mx-sld.zone09.xa {
    bind 127.19.9.31              # ns1
    bind fda1:b2:c3:0:127:19:9:31 # ns1
    bind 127.19.9.32              # ns2
    bind fda1:b2:c3:0:127:19:9:32 # ns2
    log
    file Zone-TP/zone09/COMMON.zone09.xa.zone no-mx-sld.zone09.xa
}


# NO-MX-TLD
no-mx-tld-zone09 {
    bind 127.19.9.41                # ns1
    bind fda1:b2:c3:0:127:19:9:41   # ns1
    bind 127.19.9.42                # ns2
    bind fda1:b2:c3:0:127:19:9:42   # ns2
    log
    file Zone-TP/zone09/COMMON.TLD.zone no-mx-tld-zone09
}


# NO-MX-ROOT
# Uses default root


# NO-MX-ARPA
no-mx-arpa.zone09.arpa {
    bind 127.19.9.31              # ns1
    bind fda1:b2:c3:0:127:19:9:31 # ns1
    bind 127.19.9.32              # ns2
    bind fda1:b2:c3:0:127:19:9:32 # ns2
    log
    file Zone-TP/zone09/COMMON.zone09.xa.zone no-mx-arpa.zone09.arpa
}
